@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.cdk-overlay-container {
  z-index: 100000000000000000;
}

.dataTable table {
  width: 100%;
}

.dataTable th.mat-sort-header-sorted {
  color: black;
}

.dataTable .btnArea i {
  cursor: pointer;
  margin: 0 5px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  transition: 0.2s;
  color: lightgray;
}

.dataTable .btnArea i:hover {
  color: black;
}
